.nav-link {
  cursor:pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tag-pill{
  cursor:pointer;
}

.home-page{
  /* background-image: url(//d17ol771963kd3.cloudfront.net/assets/bg/1-59b00d663c47e1d9275ef49b685893a4.gif); */
   background-color: #f1f1f1;
}
.banner{
  background-color: black;
}

.banner_brands{
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


.scrollmenu a{
  border: 2px solid black;
  background-color: coral;

  padding: 10px;
  border-radius: 50px 50px;
  margin: 15px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 10px;
  flex-wrap: wrap;


  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: bold;
}