<section class="cards">

  <section class="flip-card">
    <article class="flip-card-inner" ng-click="$ctrl.opendt()">
      <section class="flip-card-front">
        <img src="{{product.img}}" alt="PRODUCT" style="width:300px;height:300px;">
      </section>
      <section class="flip-card-back">
        <div *ngIf="product.key; else nonkey"> 

          <h3>NAME</h3>
            <span>{{product.key.Name}}</span>
  
          <h3>BRAND</h3>
            <span>{{product.key.Brand}}</span>
  
          <br>
          <br>

            <a  [routerLink]="['/product', product.key.Slug]" class="preview-link">READ MORE</a>
        </div>


        <ng-template #nonkey>
          <h3>NAME</h3>
          <span *ngIf="product.name; else name">
            {{product.name}}
          </span>
          <ng-template #name>
            <span>{{product.Name}}</span>
          </ng-template>
  
          <h3>BRAND</h3>
          <span *ngIf="product.brand; else brand">
            {{product.brand}}
          </span>
          <ng-template #brand>
            <span>{{product.Brand}}</span>
          </ng-template>
  
          <br>
          <br>
  
          <div *ngIf="product.slug; else slug"> 
            <a  [routerLink]="['/product', product.slug]" class="preview-link">READ MORE</a>
          </div>
  
          <ng-template #slug>
            <a  [routerLink]="['/product', product.Slug]" class="preview-link">READ MORE</a>
          </ng-template>
        </ng-template>


      </section>
    </article>
  </section>


</section>