<div class = "article-meta row-product" *ngFor="let product of buyProducts">
    <div class = "container-product-list" ng-click = "$ctrl.opendt()">
        <div class = "ite" style = "padding-right: 25px;">
            <img style = "width: 65px!important; height: 65px!important;">
        </div>
        <div class = "ite">
            <h3>NAME</h3>
            <div>{{product.name}}</div>
            <br>
            <h3>BRAND</h3>
            <div>{{product.brand}}</div>
            <h3>DESCRIPTION</h3>
            <div>{{product.desc}}</div>
            <h3>RATING</h3>
            <div>{{product.rating}}</div>

    

        </div>
    </div>
  </div>
  <a [routerLink]="['/product', product.id" class="preview-link">