<section class = "product-meta row-product  ">
    <article class = "container-product-list " ng-click = "$ctrl.opendt()">
        <div class = "ite">
            <h3>NAME</h3>
            <div>{{product.name}}</div>
            <br>
            <h3>BRAND</h3>
            <div>{{product.brand}}</div>
            <h3>DESCRIPTION</h3>
            <div>{{product.desc}}</div>
            <h3>RATING</h3>
            <div>{{product.rating}}</div>    
            <a  [routerLink]="['/product', product.id]" class="preview-link">READ MORE</a>
        </div>
    
    </article>

</section>
