<!DOCTYPE html>
<html lang="en">

<head>
  <title>Admin Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a>Products</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
          <h2>Dashboard</h2>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a>Products</a></li>
          </ul><br>
        </div>
        <br>

        <div class="col-sm-9">

          <section>

            <section class="container">

              <article>
                <h1><strong>INSERTAR PRODUCTOS</strong></h1>

                <button class="btnEditor" routerLink="/editor" routerLinkActive="active">
                  <i class="ion-compose"></i>&nbsp;Nuevo Producto
                </button> &nbsp;&nbsp;&nbsp;&nbsp;


                <button class="btnDelete" routerLink="/shop" routerLinkActive="active">
                  <i></i>&nbsp; Eliminar Producto
                </button>

              </article>

              <section>
                <h1><strong> RATING </strong></h1>

                <button class="btnInsert" (click)="insertBD()">INSERT</button>&nbsp;&nbsp;
                <button class="btnInsert" (click)="DelRedis()">DELETE REDIS</button>&nbsp;&nbsp;
                <button class="btnInsert" (click)="UpRedis()">UPDATE</button>
              </section>


              <section>
                <article>
                  <h1> MARCAS Y SU RATING</h1>
                  <br>
                  <div class="scrollmenu">
                    <a *ngFor="let brand of brands"> {{brand.key}} : {{brand.value}} </a>
                  </div>
                </article>

                <article>
                  <br>
                  <h1>PRODUCTOS Y SU RATING</h1>
                  <br>
                  <div class="scrollmenu">
                    <a *ngFor="let product of products" [routerLink]="['/product', product.key.Slug]">
                      {{product.key.Name}}
                      :
                      {{product.value}} </a>
                  </div>
                </article>
                <br>

              </section>

            </section>

          </section>
        </div>

      </div>
    </div>
  </main>




</body>

</html>