<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">


        <app-list-errors [errors]="errors"></app-list-errors>

        <form [formGroup]="productForm">
          <fieldset [disabled]="isSubmitting">

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="name"
                type="text"
                placeholder="Product Name" />
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="brand"
                type="text"
                placeholder="Product Brand" />
            </fieldset>

            <fieldset class="form-group">
              <textarea class="form-control"
                formControlName="description"
                rows="8"
                placeholder="Product description">
              </textarea>
            </fieldset>

            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="rating"
                type="number"
                placeholder="Product Rating" />
            </fieldset>


            <fieldset class="form-group">
              <input class="form-control form-control-lg"
                formControlName="category"
                type="text"
                placeholder="Product Category" />
            </fieldset>


            <button class="btn btn-lg pull-xs-right btn-primary" type="button" (click)="submitForm()">
              Publish Product 
            </button>

          </fieldset>
        </form>

      </div>
    </div>
  </div>
</div>
